<h1><%= @article.title %></h1>
<h2>Posted by: <%= link_to @article.author, @article.author %></h2>
<p>
  Tags: <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
    <% end %>
</p>

<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %>
  <% end %>
</p>
<p>
  <%= @article.body %>
</p>

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "Back", articles_path %>
<% if @article.author_id == current_user.id %>
| 
  <%= link_to "Edit", edit_article_path(@article) %>
| 
  <%= link_to "Delete", @article, method: :delete, data: {confirm: "Really delete the article?"} %>
<% end %>
